<section class="manage">
    <header>
        <h4>Manage Courses</h4>
    </header>
    <div class="manage-controls">
        <div ui-view="addCourse"></div>
        <div ui-view="addStudent"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5>Course List</h5>
            <ul class="list-group">
                <li 
                    ng-if="manage.courseList.length == 0"
                    class="list-group-item">
                    No courses (ಠ_ಠ)
                </li>
                <li 
                    ng-repeat="c in manage.courseList track by c.id"
                    class="list-group-item">
                    <span class="badge">{{ c.studentCount || 0 }}</span>
                    {{::c.name }} - v{{::c.version }}
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Stats</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Total Courses</strong>: {{ manage.courseList.length }}
                </li>
                <li class="list-group-item">
                    <strong>Total Students</strong>: {{ manage.studentList.length }}
                </li>
            </ul>
        </div>
    </div>
</section>