<form name="studentForm" ng-submit="form.submit()" novalidate>
    <fieldset ng-if="form.entity.id != null"  class="form-group required">
        <label for="id" class="control-label">Student Id</label>
        <input ng-if="form.entity.id != null"
            ng-model="form.entity.id"
            type="number"
            disabled="disabled"
            name="id"
            class="form-control">
    </fieldset>
    <div class="row">
        <fieldset class="form-group col-sm-6 required">
            <label for="name" class="control-label">
                Name
            </label>
            <input ng-model="form.entity.name"
                id="student-name"
                type="text"
                name="name"
                ng-model-options="form.modelOptions"
                required
                class="form-control">
            <div ng-messages="studentForm.name.$error"
                ng-if="studentForm.$submitted || studentForm.name.$touched">
                <p ng-message="required" class="text-danger">
                    A Student name is required
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-6 required">
            <label for="email" class="control-label">
                Email
            </label>
            <input ng-model="form.entity.email"
                id="email"
                type="email"
                name="email"
                ng-model-options="form.modelOptions"
                required
                class="form-control">
            <div ng-messages="studentForm.email.$error"
                ng-if="studentForm.$submitted || studentForm.email.$touched">
                <p ng-message="required" class="text-danger">
                    A Student email is required
                </p>
                <p ng-message="email" class="text-danger">
                    Email address please
                </p>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-4 required">
            <label for="first-session" class="control-label">
                First Session
            </label>
            <div class="input-group">
                <input
                    type="text"
                    required
                    class="form-control"
                    name="first-session"
                    ng-model="form.entity.firstSession"
                    bs-datepicker>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-4 required">
            <label for="session-day" class="control-label">Session Day</label>
            <select
                name="session-day"
                required
                class="form-control">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
            </select>
        </fieldset>
        <fieldset class="form-group col-sm-4 required">
            <label for="session-time" class="control-label">Session Time</label>
            <div class="input-group">
                <input
                    type="text"
                    required
                    class="form-control"
                    name="session-time"
                    ng-model="form.entity.sessionTime"
                    bs-timepicker>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-3 required">
            <label for="course" class="control-label">Course</label>
            <select
                name="course"
                required
                ng-model="form.entity.course"
                ng-options="c.name+'v'+c.version
                            for c in form.courseList | orderBy:'name' track by c.id"
                class="form-control">
                <option value="-">--</option>
            </select>
        </fieldset>
        <fieldset class="form-group col-sm-3 required">
            <label for="timezone" class="control-label">Timezone</label>
            <input type="text" required name="timezone" class="form-control">
        </fieldset>
        <fieldset class="form-group col-sm-3">
            <label for="weekly-hours" class="control-label">Hours per week</label>
            <input type="number" name="weekly-hours" class="form-control">
        </fieldset>
        <fieldset class="form-group col-sm-3">
            <label for="os" class="control-label">OS</label>
            <select name="os" class="form-control">
                <option>Mac</option>
                <option>Windows</option>
                <option>Chromebook</option>
                <option>Linux</option>
            </select>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-6">
            <label for="github" class="control-label">Github</label>
            <input type="text" name="github" class="form-control">
        </fieldset>
        <fieldset class="form-group col-sm-6">
            <label for="google" class="control-label">Google</label>
            <input type="text" name="google" class="form-control">
        </fieldset>
    </div>

    <fieldset class="form-group">
        <label for="background" class="control-label">Background</label>
        <textarea name="background" class="form-control" rows="5"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="goals" class="control-label">Goals</label>
        <textarea name="goals" class="form-control" rows="5"></textarea>
    </fieldset>
    <div class="controls">
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>