<form name="studentForm" ng-submit="form.submit()" novalidate>
    <fieldset ng-if="form.entity.id != null"  class="form-group required">
        <label for="id" class="control-label">Student Id</label>
        <input ng-if="form.entity.id != null"
            ng-model="form.entity.id"
            type="number"
            disabled="disabled"
            name="id"
            class="form-control">
    </fieldset>
    <div class="row">
        <fieldset class="form-group col-sm-6 required">
            <label for="name" class="control-label">
                Name
            </label>
            <input ng-model="form.entity.name"
                id="student-name"
                type="text"
                name="name"
                ng-model-options="form.modelOptions"
                required
                class="form-control">
            <div ng-messages="studentForm.name.$error"
                ng-if="studentForm.$submitted || studentForm.name.$touched">
                <p ng-message="required" class="text-danger">
                    A Student name is required
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-6 required">
            <label for="email" class="control-label">
                Email
            </label>
            <input ng-model="form.entity.email"
                id="email"
                type="email"
                name="email"
                ng-model-options="form.modelOptions"
                required
                class="form-control">
            <div ng-messages="studentForm.email.$error"
                ng-if="studentForm.$submitted || studentForm.email.$touched">
                <p ng-message="required" class="text-danger">
                    A Student email is required
                </p>
                <p ng-message="email" class="text-danger">
                    Email address please
                </p>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-4 required">
            <label for="first-session" class="control-label">
                First Session
            </label>
            <div class="input-group">
                <input ng-model="form.entity.firstSession"
                    id="first-session"
                    type="text"
                    name="firstSession"
                    bs-datepicker
                    data-autoclose="true"
                    data-date-format="dd-MM-yyyy"
                    data-min-date="today"
                    required
                    class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div ng-if="studentForm.$submitted || studentForm.firstSession.$touched">
                <p ng-if="studentForm.firstSession.$error.required" class="text-danger">
                    The first session date is required
                </p>
                <p ng-if="studentForm.$error.firstSession" class="text-danger">
                    Must be a future date
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-4 required">
            <label for="session-day" class="control-label">
                Session Day
            </label>
            <!-- Options not working with object -->
            <button ng-model="form.entity.sessionDay"
                id="session-day"
                type="button"
                name="sessionDay"
                bs-select
                data-placeholder="--"
                ng-options="d.day as d.label for d in form.daysOfWeek"
                required
                class="btn btn-default form-control">
            </button>
            <div ng-messages="studentForm.sessionDay.$error"
                ng-if="studentForm.$submitted || studentForm.sessionDay.$touched">
                <p ng-message="required" class="text-danger">
                    A day of the week is required
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-4 required">
            <label for="session-time" class="control-label">
                Session Time
            </label>
            <div class="input-group">
                <input ng-model="form.entity.sessionTime"
                    id="session-time"
                    type="text"
                    name="sessionTime"
                    required
                    bs-timepicker
                    class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <div ng-messages="studentForm.sessionTime.$error"
                ng-if="studentForm.$submitted || studentForm.sessionTime.$touched">
                <p ng-message="required" class="text-danger">
                    A time is required
                </p>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-3 required">
            <label for="courseId" class="control-label">
                Course
            </label>
            <button ng-model="form.entity.courseId"
                id="courseId"
                type="button"
                name="courseId"
                bs-select
                required
                data-placeholder="--"
                ng-options="c.id as c.name+'v'+c.version
                            for c in form.courseList | orderBy:'name'"
                class="btn btn-default form-control">
            </button>
            <div ng-messages="studentForm.courseId.$error"
                ng-if="studentForm.$submitted || studentForm.courseId.$touched">
                <p ng-message="required" class="text-danger">
                    A course is required
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-3 required">
            <label for="timezone" class="control-label">
                Timezone
            </label>
            <input ng-model="form.entity.timezone"
                id="timezone"
                type="text"
                name="timezone"
                required
                class="form-control">
            <div ng-messages="studentForm.timezone.$error"
                ng-if="studentForm.$submitted || studentForm.timezone.$touched">
                <p ng-message="required" class="text-danger">
                    A timezone is required
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-3 required">
            <label for="num-sessions" class="control-label">
                N&ordm; of Sessions
            </label>
            <input ng-model="form.entity.numSessions"
                id="num-sessions"
                type="number"
                name="numSessions"
                required
                class="form-control">
            <div ng-messages="studentForm.numSessions.$error"
                ng-if="studentForm.$submitted || studentForm.numSessions.$touched">
                <p ng-message="required" class="text-danger">
                    How many sessions?
                </p>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-3">
            <label for="os" class="control-label">OS</label>
            <select name="os" class="form-control">
                <option>Mac</option>
                <option>Windows</option>
                <option>Chromebook</option>
                <option>Linux</option>
            </select>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-group col-sm-6">
            <label for="github" class="control-label">
                Github
            </label>
            <div class="input-group">
                <span class="input-group-addon">github.com</span>
                <input ng-model="form.entity.github"
                    id="github"
                    type="text"
                    name="github"
                    class="form-control">
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-6">
            <label for="google" class="control-label">
                Google+
            </label>
            <div class="input-group">
                <span class="input-group-addon">plus.google.com</span>
                <input ng-model="form.entity.google"
                    id="google"
                    type="text"
                    name="google"
                    class="form-control">
            </div>
        </fieldset>
    </div>
    <fieldset class="form-group">
        <label for="background" class="control-label">
            Background
        </label>
        <textarea ng-model="form.entity.background"
            id="background"
            name="background"
            class="form-control"
            rows="5"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="goals" class="control-label">
            Goals
        </label>
        <textarea ng-model="form.entity.goals"
            id="goals"
            name="goals"
            class="form-control"
            rows="5"></textarea>
    </fieldset>
    <div class="controls">
        <button type="submit" class="btn btn-success">
            Create
        </button>
    </div>
</form>